<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="../../../public/finVueLogo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to FinVue</title>
  <link rel="stylesheet" href="../assets/output.css">
  <script src="https://kit.fontawesome.com/e4a1219774.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <section class="p-4">
      <article>
        <div class="returnBtn">
          <i class="fa-solid fa-arrow-left text-white"></i>
        </div>
        <h2 class="text-right border-2">
          Access your<br/>
          financia hub<br/>
          instantly for <br/>
          seamless controll<br/>
          over your finances.<br/>
        </h2>
      </article>
      <article>

      </article>
    </section>
  </main>
</body>
</html>