<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="../../../public/finVueLogo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to FinVue</title>
  <link rel="stylesheet" href="../assets/output.css">
  <script src="https://kit.fontawesome.com/e4a1219774.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <section class="min-h-screen bg-gradient-to-r from-secondary to-secondary-2">
      <article class="p-6">
        <div class="returnBtn">
          <i class="fa-solid fa-arrow-left text-white"></i>
        </div>
        <h1 class="text-right text-heading-3 font-bold pb-4 tracking-f-small leading-snug">
          Access your<br/>
          financial hub<br/>
          instantly for <br/>
          seamless controll<br/>
          over your finances.<br/>
        </h1>
      </article>
      <article class="bg-zinc-900 w-full py-16 lg:h-[calc(50vh+500px)] px-6 rounded-t-[30px] flex flex-col gap-4">
        <h2 class="text-heading-3 font-bold text-white tracking-f-small py-5">Log in to Fin<span class="text-secondary">Vue</span></h2>
        <form class="flex flex-col gap-6">
          <div class="grid gap-1">
            <label class="primary-label" for="email">Email <span class="text-secondary">*</span></label>
            <input class="primary-input text-white" type="email" placeholder="hello@gmail.com" required>
          </div>
          <div class="grid gap-1">
            <label class="primary-label" for="password">Password <span class="text-secondary">*</span></label>
            <div class="flex items-center justify-center relative">
              <input class="primary-input text-white" type="password" placeholder="Enter your password" required>
              <i class="cursor-pointer text-white fa-solid fa-eye absolute right-1 pr-2 bg-zinc-900"></i>
            </div>
          </div>
          <button class="primary-btn">Login</button>
        </form>
        <div class="grid grid-cols-3 justify-center items-center">
          <hr class="bg-secondary h-[2px] border-0">
          <p class="text-center text-white text-pre-title">OR</p>
          <hr class="bg-secondary h-[2px] border-0">
        </div>
        <div class="secondary-btn"><i class="fa-brands fa-google text-white"></i> &nbsp;&nbsp;&nbsp; Continue with Google</div>
        <p class="pt-8 pb-6 text-pre-title text-white text-center">FinVue uses cookies for analytics personalized content and ads. By using FinVue’s services you agree to this use of cookies. <span class="font-bold underline cursor-pointer">Learn more</span></p>
      </article>
    </section>
  </main>
</body>
</html>