<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="../../../public/finVueLogo.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to FinVue</title>
  <link rel="stylesheet" href="../assets/output.css">
  <script src="https://kit.fontawesome.com/e4a1219774.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <section class="bg-zinc-900 min-h-screen py-4">
      <article class="px-6 py-8 w-full flex justify-between items-center">
        <h1 class="text-heading-3 leading-tight font-medium text-white">Good morning,<br><span class="text-secondary text-heading-3 font-bold">John Doe</span></h1>
        <img class=" w-10 h-10 object-cover rounded-full" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A portrait of a woman taken by Aiony Haust from Unplash">
      </article>
      <article class="px-6 py-4">
        <p class="text-body text-white py-4">Other features</p>
        <div class="flex flex-col gap-2">
          <div class="bg-zinc-800 flex gap-3 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-red-500 w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center fa-solid fa-house-fire text-white">🧍</p>
            </div>
            <div class="flex items-center">
              <p class="text-white text-small">Emergency Fund</p>
            </div>
          </div>
          <div class="bg-zinc-800 flex gap-3 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-green-500 w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center text-white fa-solid fa-money-bill"></p>
            </div>
            <div class="flex items-center">
              <p class="text-white text-small">Salary Tax Calculator</p>
            </div>
          </div>
        </div>
      </article>
      <article class="px-6 py-4">
        <p class="text-body text-white py-4">All transactions</p>
        <!-- Incomme -->
        <div class="flex flex-col gap-2">
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-personal w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center">🧍</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Personal</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-secondary font-bold text-pre-title xs:text-body text-right items-center grid ">+ ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-business w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center">💼</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Business</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-secondary font-bold text-pre-title xs:text-body text-right items-center grid">+ ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-gifts w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center">🎁</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Gifts</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-secondary font-bold text-pre-title xs:text-body text-right items-center grid">+ ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-loan w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center">💸</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Loan</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-secondary font-bold text-pre-title xs:text-body text-right items-center grid">+ ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-other-exp w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center">🗂️</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Others</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-secondary font-bold text-pre-title xs:text-body text-right items-center grid">+ ₱ 5763</p>
          </div>
        </div>
        
        <!-- Expenses -->
        <div class="flex flex-col gap-2 pt-2">
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-food w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center">🍔</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Foods & Drinks</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-red-400 font-bold text-pre-title xs:text-body text-right items-center grid">- ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-sag w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center"> 🛍️</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Shopping</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-red-400 font-bold text-pre-title xs:text-body text-right items-center grid">- ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-transport w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center"> 🚗,</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Transport</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-red-400 font-bold text-pre-title xs:text-body text-right items-center grid">- ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-home w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center"> 🏠</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Home Expense</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-red-400 font-bold text-pre-title xs:text-body text-right items-center grid">- ₱ 5763</p>
          </div>
          <div class="bg-zinc-800 grid grid-cols-4 p-4 w-full min-h-[60px] h-3/4 rounded-xl lg:grid-cols-10">
            <div class="bg-others-inc w-12 h-12 rounded-lg p-2 grid self-center">
              <p class="text-center grid self-center justify-self-center"> 💳</p>
            </div>
            <div class="grid col-span-2 lg:col-span-8 items-center">
              <p class="text-white text-small text-left">Bills & Others</p>
              <p class="text-zinc-500 text-pre-title md:text-small text-left">June 12, 2022, Saturday</p>
            </div>
            <p class="text-red-400 font-bold text-pre-title xs:text-body text-right items-center grid">- ₱ 5763</p>
          </div>
        </div>
      </article>
    </section>
  </main>
</body>
</html>